<div class="chat-container">
    <div class="chat-header">
        <i class="fas fa-robot"></i>
        <h6>@Localizer["ChatHeaderTitle"]</h6>
         <div class="conversation-status">
                <span class="badge active">
                    Active
                </span>
            </div>
        <div class="language-toggle @(LanguageService.CurrentLanguage)" id="language-toggle">
            <div class="language-toggle-slider" id="language-toggle-slider"></div>
            <button id="lang-en" class="language-toggle-btn  @(LanguageService.CurrentLanguage == "en" ? "active" : "")" @onclick='() => SetLanguage("en")'>EN</button>
            <button id="lang-ru" class="language-toggle-btn @(LanguageService.CurrentLanguage == "ru" ? "active" : "")" @onclick='() => SetLanguage("ru")'>RU</button>
        </div>
        <div class="ai-label">
            <i class="fas fa-info-circle"></i>
            <span>@Localizer["Disclaimer"]</span>
        </div>
    </div>
    @if (ActiveConversation is not null)
    {
        <div class="chat-messages" @ref="messagesContainer">

            @foreach (var message in ActiveConversation?.LLMResponses ?? [])
            {
                <GenericChat Message="message" ResponseStatus = "@IsLLMResponding"  />
            }

            @if (IsLLMResponding && IsLLMThinking)
            {
                <div class="message message-bot">
                    <div class="bubble bot-bubble typing-indicator">
                        <span class="typing-text">@Localizer["Thinking"]</span>
                        <div class="typing-dots">
                            <span></span>
                            <span></span>
                            <span></span>
                        </div>
                    </div>
                </div>
            }
        </div>

        <div class="chat-input-area">
            <input type="text"
                   id="chat-input-area-id"
                   class="chat-input"
                   placeholder=@GetPlaceholderMessage()
                   @bind="CurrentMessage"
                   @onkeydown="HandleKeyPress" />

            <button id="send-button-mic-id" class="action-button @(isListening ? "listening" : "")" title="Use microphone" @onclick="ToggleListenAsync">
                <i class="fas fa-microphone"></i>
            </button>

            <button class="send-button" id="send-button-id"
                    @onclick="SendMessage">
                <i class="fas fa-paper-plane"></i>
            </button>
        </div>
    }
</div>
